In [1]:
import pandas as pd
import numpy as np

In [2]:
traindf = pd.read_csv('https://raw.githubusercontent.com/fedhere/PUI2018_fb55/master/Lab10_fb55/train.csv')

In [3]:
traindf.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
traindf = traindf[['Survived', 'Pclass', 'Sex', 'Age']]

In [7]:
traindf.head()

   Survived  Pclass     Sex   Age
0         0       3    male  22.0
1         1       1  female  38.0
2         1       3  female  26.0
3         1       1  female  35.0
4         0       3    male  35.0

In [13]:
# make sex into boolean
genderdict = {'male': 0, 'female': 1}

In [ ]:
### get the fraction of men that survived

In [17]:
traindf['gender'] = traindf['Sex'].apply(lambda x: genderdict[x])

In [25]:
len(traindf[traindf['gender'] == 0])

577

In [27]:
100 * (sum(traindf[traindf['gender'] == 0][traindf['Survived'] == 1]['Survived'])/len(traindf[traindf['gender'] == 0]))

/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if __name__ == '__main__':

18.890814558058924

In [ ]:
# worst outcome of purity 50% becuase it won't be a good predictor

In [ ]:
# null is that it is not stationary
# look at first number outcome

In [ ]:
# dont use points inside of the spatial blue area autocorrelation